version = 0.1  # Do not change this

[vote_configs]
# Example configuration:
#    [[<guild_id>]]  # <---- replace <guild_id> with the guild you want the cog to work in
#        upvote_emoji_id = 1234
#        downvote_emoji_id = 5678
#        vote_channel_id = 91011
#        react_only_memes = True
