<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GCHQBot Privacy Statement</title>
    </head>
    <body style="background-color:black; color:#758cbb">
        <p>
            Last modified: 13/06/2020, 1632 BST
        </p>
        <h3>0. Definitions:</h3>
        <p>
            The following definitions apply herein:
        </p>
        <ul>
            <li>
                The Application, Software, Service, and Website refer to GCHQBot and associated software, operated by
                {{ owner_name }}. Source code for this software may be found at
                <a href="https://github.com/Pytato/GCHQBot/" target="_blank">https://github.com/Pytato/GCHQBot/</a>,
                source code for associated software that GCHQBot utilises in data storage and handling depend
                entirely on implementation and will be given below by your software operator.
            </li>
            <li>
                The Core Software, Core Application, and Core Service refer to the central resource of
                the Application, the Core Application source code may be found at the following URL:
                <a href="https://github.com/Pytato/GCHQBot/" target="_blank">https://github.com/Pytato/GCHQBot/</a>.
            </li>
            <li>
                The Application relies on software known as MongoDB to function, the implementation behind the
                Application is "MongoDB: Community Edition" and will herein be referred to within reference to
                the Service etc. Source code for MongoDB: Community Edition may be found here:
                <a href="https://github.com/mongodb/mongo" target="_blank">https://github.com/mongodb/mongo</a>
            </li>
            <li>
                The User, Client, Subject, or Member refers to you, the persons or organisations that may have
                information stored by the Application.
            </li>
        </ul>
        <h3>1. Data Collection:</h3>
        <p>
            The Application collects the following User data:
        </p>
        <ul>
            <li>
                Non-personal Application Programming Interface (API) data available information from Discord
                <a href="https://discordapp.com/developers/docs/resources/user" target="_blank">
                    https://discordapp.com/developers/docs/resources/user
                </a>.
            </li>
        </ul>
        <p>
            This list may be expanded to include further user data.
        </p>

        <h3>2. Data Retention:</h3>
        <p>
            User data may be retained by the Application for indefinite periods of time, given indefinite user engagement,
            in cases of extended member inactivity (2 years), all data held on said user will be packaged and delivered to
            the member in question prior to deletion and cleansing from the Service.
        </p>
        <p>
            Users may also request immediate data deletion by contacting {{ owner_name }}. Previous subjects of the
            Application's penal action may be receive general, indefinite penal action utilising Discord's Service,
            maintaining the intent of the Application and its owner while respecting the User's rights as given in this
            statement. For information concerning Discord's Privacy Policy, please consult the following web page:
            <a href="https://discordapp.com/privacy" target="_blank">https://discordapp.com/privacy</a>.
        </p>
        <h3>3. Data Protection and Transferability:</h3>
        <p>
            Client data procured by the Application is wholly non-transferable to parties not forming the Core Service
            without the direct and revocable consent of the client.
        </p>
        <h3>4. Further Information:</h3>
        <p>
            If you have any further queries not yet addressed by this privacy statement, please do not hesitate
            to contact the operator of this Software: {{ owner_name }} or consult the Software source code given above.
        </p>
        <h3>5. Modifications</h3>
        <p>
            The terms of this policy may be altered with varied notice given the section undergoing modification,
            sections 0, 2, and 4 may be changed without notice. Sections 1, 3, and 5 require two weeks prior notice
            given via the "Privacy Policy Modification Prior Notice Service", which is offered on an opt out basis
            after the verification process is complete.
        </p>
        <p>
            Modifications to this policy must maintain purpose, e.g. changes may not be made to permit commercialisation
            of information or mass storage of un-needed information.
        </p>
    </body>
</html>